* {
	margin:0;
	padding:0;
	border:0;
}

#header{
    height: 650px;
    background-image: url("../IMG/290281.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

#titulo{
    font-family: 'Cinzel', serif;
    font-size: 6vw;
    color: white;
    margin: 0;
    position: absolute;
    margin-top: -50px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#img-encabezado{
    margin-top: 40px;
    height: 150px;
    background-size: 500px 130px;
    background-image: url("../IMG/runes.png");
    background-position: center;
}

#description{
    margin-top: 50px;
}

#title-description{
    font-family: 'Cinzel', serif;
    font-size: 2vw;
    text-align: center;
    text-transform: uppercase;
}

#body-description{
    font-family: 'Alegreya', serif;
    font-size: 1.7vw;
    text-align: center;
    margin: 40px 50px;
}

.features-section{
    margin-top: 100px;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 0;
    justify-content: center;
    text-align: center;
}

.features-section > div{
    margin: 0px 15px;
}

.feature > h2{
    font-family: 'Cinzel', serif;
    font-size: 3vw;
}

.feature > p{
    font-family: 'Alegreya', serif;
    font-size: 1.4vw;
}

#rep{
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    background-image: url("../IMG/nordic-paganism.png");
    margin-bottom: 15px;
}

#origin{
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    background-image: url("../IMG/runes2.png");
    margin-bottom: 15px;
}

#doc-footer{
    margin-top: 100px;
    height: 150px;
    background: black;
    text-align: center;
}

#socialnet{
    color: white;
    margin-top: 50px;
}

.container {
    height: 200px;
    position: relative;
    background-color: black;
    margin-top: 70px;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .center > a{
    font-family: 'Cinzel', serif;
    font-size: 2vw;
    text-decoration: none;
    color: aliceblue;
    margin: 0px 20px;
  }